<!-- 
  <div>
    <button mat-button (click)="drawer.toggle()"  style="width: 200px; text-align: right; display: table-cell;" class="sidenav-link-icon"><mat-icon style="margin-top:2px;">menu</mat-icon></button>
    <mat-drawer-container class="admin-container" autosize>
      
        <mat-drawer #drawer class="sidenav-mat"  opened="true" mode="side">
          
            <app-sidebar></app-sidebar>
        </mat-drawer>
        <mat-drawer-content class="admin-main">
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
  </div>
   -->

<div class="main-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">Responsive App</h1>
  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      [opened]="isShowing"
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
